// inclusione variabili
@use './partials/variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: sans-serif;
    background-color: $grey;
}

ul {
    list-style: none;
    margin-top: 20px;
}

img {
    max-width: 100%;
    object-fit: cover;
}